body {
    background-color: gainsboro;
}

.container {
    background-image: url("bg1.jpg");
    padding: 100px;
    text-align: center;
    }

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

div.card-body {
    margin: 10pt;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

h1.headings{
    font-size: 60px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    
    text-decoration: none;
}